numpy
Babel
bezier
ChemSpiPy
ipython
ipython-genutils
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyterlab
jupyterlab-launcher
matplotlib
nbconvert
nbformat
nbgrader
notebook
numpydoc
pandas
pep8
pHcalc
scipy
